doctype html
html
    head
        title Login Page
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

    body.login_page
        .container
            .row.justify-content-center.align-items-center.min-vh-100
                .col-4
                    form.form-signin(method='post', action='/login')
                        h1.mb-3.text-center Login
                        label.sr-only(for='inputEmail') Email address
                        input#inputEmail.form-control(type='email', name='email', placeholder='Email address', required, autofocus)
                        label.sr-only(for='inputPassword') Password
                        input#inputPassword.form-control(type='password', name='password', placeholder='Password', required)
                        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in