extends layout 

block content 
    div.container(style='font-size: 0.8em; padding-top: 60px')
        h1(style='text-align: center;') Week #{week_number}
        table(style='width:100%; table-layout: fixed;', border='1', )
            tr
                th(style='text-align: center;') Personnel
                each day in weekDays
                    th(style='text-align: center; width: 120;')= day

            each name in names
                tr 
                    td= name
                    
                