extends layout 

block content 
    div.container(style='font-size: 0.8em; padding-top: 60px')
        h1(style='text-align: center;') Week #{week_number}
        table(style='width:100%', border='1')
            tr
                th Personnel
                th Monday
                th Tuesday
                th Wednesday
                th Thursday 
                th Friday 
                th Saturday 
                th Sunday
            tr
                td Example employee