a.team_schedule-buttonToChangeWeek {
  border-color: #E7E7E7;
  background-color: white;
  color: black;
  margin-right: 7px;
  margin-bottom: 5px;
  border: 1px solid;
  text-align: center;
  font-size: 13px;
  border-radius: 7px;
  padding-bottom: 3px;
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 1px;
  cursor: pointer;
}

a.team_schedule-buttonToChangeWeek:hover {
  background-color: #E7E7E7;
}

a.team_schedule-buttonToChangeWeek:link {
  text-decoration: none;
}

a.team_schedule-buttonToChangeWeek:visited {
  text-decoration: none;
}

a.team_schedule-buttonToChangeWeek:hover {
  text-decoration: none;
}

a.team_schedule-buttonToChangeWeek:active {
  text-decoration: none;
}

td.team_schedule-centered {
  text-align: center;
}

th.team_schedule-centered {
  text-align: center;
}